<div class="form-new">

  <%= link_to "#", remote: true, id: "close-button", class: "text-left" do %>
    <i class="fas fa-times-circle", id="close-button"></i>
  <% end %>

<%= simple_form_for(@subscription) do |f| %>
  <div class="row">
  <%= f.input :title, wrapper_html: {class: "col"}, input_html: { class: "input-field" }, placeholder: "Title", label: false %>
  </div>
  <div class="row">
  <%= f.input :due_date, as: :string, wrapper_html: { class: "col" }, input_html: { class: "input-field datepicker" }, label: false, placeholder: "Due date" %>
  <%= f.input :end_date, as: :string, wrapper_html: { class: "col" }, input_html: { class: "input-field datepicker" }, label: false, placeholder: "End date" %>
  </div>
  <div class="row">
  <%= f.association :category, wrapper_html: {class: "col"}, input_html: { class: "input-field" }, prompt: "Category", label: false %>
  <%= f.input :bank_account_id, wrapper_html: {class: "col"}, input_html: { class: "input-field" }, prompt: "Bank Account", label: false, collection: current_user.bank_accounts %>
  </div>




  <div class="row">
    <%= f.input :frequency, wrapper_html: {class: "col"},
        input_html: { class: "input-field-frequency" },
        label_html: { class: "hello-label" },
        placeholder: "Frequency",
        label: false,
        collection: ['weekly', 'monthly', 'quartely', 'yearly'],
        collection_wrapper_class: "flexbox-collection",
        # collection_wrapper_html: {class: "hello-collection-wrapper"},
        as: :radio_buttons  %>
  </div>






  <div class="row">
  <%= f.input :amount_cents, wrapper_html: {class: "col"}, input_html: { class: "input-field" }, placeholder: "Price", label: false %>
  </div>
  <div class="row">
  <%= f.button :submit, class: "new-sub-form-button" %>
  </div>
<% end %>
</div>

<script>
// $(document).ready(function(){
//   $(".input-field-frequency").click(function(){
//     $(this).parent(".collection_radio_buttons").addClass("active");
//   });
// });
</script>
