<div class="single-sub-show" data-sub-id="Sub-<%= @subscription.id %>">
  <%= link_to edit_subscription_path(@subscription), remote: true, class: " edit-btn edit-show" do  %>
  <i class="fas fa-edit"></i>
  <% end %>
  <%= link_to subscription_path(@subscription), class: "delete-btn delete-show", method: :delete do  %>
  <i class="fas fa-trash"></i>
  <% end %>
  <%= link_to "#", remote: true, id: "close-button", class: "text-left" do %>
    <i class="fas fa-times-circle", id="close-button"></i>
  <% end %>
  <div class="row mt-2">
    <div class="col">
      <h1><%= @subscription.title %></h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <h3>
        <%= humanized_money_with_symbol(@subscription.amount) %>
      </h3>
    </div>
    <div class="col-6 align-items-end"><h3><%= @subscription.frequency %></h3></div>
  </div>
  <div class="row mt-5">
    <div class="col-5">
      <h4>Due: <br><%= @subscription.due_date.strftime("%b %d") %></h4>
    </div>
    <div class="col-7"><h4>End:<br><%= @subscription.end_date.strftime("%b %d %Y") %></h4></div>
  </div>
  <div class="row mt-5">
    <div class="col"><h5>Category:<br><%= @subscription.category.name %></h5></div>
    <div class="col"><h5>Bank:<br><%= @subscription.bank_account.name %></h5></div>
  </div>
</div>
