<div class="top-index">
  <div class="new-sub-section">
    <%= link_to "Add new sub!", new_subscription_path(@subscription), remote: true, class: "new-sub-button", id: "new-sub-button" %>
  </div>
  <%= form_tag subscriptions_path, data: { remote: true }, id: "filter-form", method: :get do %>
  <div class="single-sub">
    <%= text_field_tag 'filter-title', value = nil, placeholder: 'Search by title', class: 'sub-title', size: 15 %>
    <%= select_tag "filter-category",  options_from_collection_for_select(current_user.categories, "name", "name"), class: 'sinlge-sub-item' %>
    <%= text_field_tag 'filter-title', value = nil, placeholder: 'Search by title', class: 'sinlge-sub-item', size: 10  %>
    <%= text_field_tag 'filter-title', value = nil, placeholder: 'Search by title', class: 'sinlge-sub-item', size: 10 %>
    <%= submit_tag "Filter", class: "hidden", id: "submit-filter" %>
  </div>
  <% end %>
</div>
<div id="subs-part">
  <%= render 'subs_list', subscriptions: @subscriptions %>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'index_filter' %>
<% end %>


