<div class="top-index">
  <div class="filterbar">
    <%= form_tag subscriptions_path, data: { remote: true }, id: "filter-form", method: :get do %>
    <label class="filter-choice <%# "active" if checked %>" for="filter-title" >
      Title
    <input <%# 'checked' if checked %> type="" class="hidden" value="" name="filter-title" id="filter-title" >
    </label>
    <label class="filter-choice <%# "active" if checked %>" for="filter-category" >
    <input <%# 'checked' if checked %> type="" class="hidden" value="" name="filter-category" id="" >
      Category
    </label>
    <%= submit_tag "Filter", class: "hidden", id: "submit-filter" %>
    <% end %>
  </div>
  <div class="new-sub-section">
    <%= link_to "Add new sub!", new_subscription_path(@subscription), remote: true, class: "new-sub-button", id: "new-sub-button" %>
  </div>
</div>

<div id="subs-part">
  <%= render 'subs_list', subscriptions: @subscriptions %>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'index_filter' %>
<% end %>
